<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Category : {{ category.name }}
{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:category_list'%}">Categories</a></li>
    <li>{{ category.name }}</li>
  </ul>
{% endblock %}
{% block actions %}
  {% if perms.cube.change_category %}
    <a class="button" href="{% url "cube:category_update" object.id %}">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit this category</span>
    </a>
  {% endif %}
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">{{ category.name }}</p>
  </div>
{% endblock %}
{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-tags"></i>
    </span>
    category
  </p>
{% endblock %}
{% block content %}
  <p>
    <b>Description:</b>
  </p>
  {% if category.description %}
    <div class="box">
      {{ category.description|linebreaks }}
    </div>
  {% else %}
    <p><i>No description</i></p>
  {% endif %}

  <p><b>Owner:</b> {{ category.owner }} - {{ category.owner.first_name }} {{ category.owner.last_name }}</p>

  <h2 class="title is-2">Products for this category</h2>
  {% if perms.cube.view_product %}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in object.product_set.all %}
          <tr>
            <td><a href="{% url 'cube:product_detail' product.id %}">{{product.name}}</a></td>
            <td>{{product.description|truncatechars:30}}</td>
            <td><a href="{% url 'cube:product_detail' product.id %}"><i class="fas fa-info-circle"></i></a>
              {% if perms.cube.change_product %} | <a href="{% url 'admin:cube_product_change' product.id %}" target="_blank"><i class="far fa-edit"></i></a>{% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    You don't have the permission to view products.
  {% endif %}

  <h2 class="title is-2">Licences with authorized contexts specific to this category</h2>
  {% if perms.cube.view_license %}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>License</th>
          <th>Justification</th>
        </tr>
      </thead>
      <tbody>
        {% for context in object.derogation_set.all %}
          <tr>
            <td><a href="{% url 'cube:license_detail' context.license.id %}">{{context.license}}</a></td>
            <td>{{context.justification|truncatechars:30}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    You don't have the permission to view licenses.
  {% endif %}
  <h2 class="title is-2">Licences choices specific to this category</h2>
  {% if perms.cube.view_license %}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Rule</th>
          <th>Explanations</th>
        </tr>
      </thead>
      <tbody>
        {% for context in object.licensechoice_set.all %}
          <tr>
            <td><a href="{% url 'cube:licensechoice_update' context.id %}">For <strong>{{context.expression_in}}</strong> choose <strong>{{context.expression_out}}</strong></a></td>
            <td>{{context.explanation}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    You don't have the permission to view licenses.
  {% endif %}
{% endblock %}
