<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}Create component{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:component_list' %}">Components</a></li>
    <li>Create</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    Create component
  </h1>
{% endblock %}

{% block content %}
  {% include "cube/includes/default_form.html" %}
{% endblock %}
