<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}Components{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li>Components</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium">
      <i class="fas fa-puzzle-piece"></i>
    </span>
    3rd Party Components
  </h1>
{% endblock %}

{% block actions %}
  {% if perms.cube.add_component %}
    <a class="button is-info is-inverted" href="{% url 'cube:component_create'%}">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      <span>Create a new component</span>
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "cube/includes/list_nav.html" %}
  <p>The list of the 3rd party (mostly Open Source) components that you reuse in your products.</p>
  <table class="table is-striped ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Versions</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for component in object_list %}
        <tr>
          <td><a href="{% url "cube:component_detail" component.id %}">{{ component.name }}</a></td>
          <td>{{ component.purl_type }}</td>
          <td>
            {% for version in component.versions.all %}
              {{ version.version_number }}
            {% endfor %}
          </td>
          <td>
            {{ component.description|truncatechars:42 }}
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>

  {% include "cube/includes/list_nav.html" %}

{% endblock %}

