<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}
  {{ license }} - {% if object %}Edit{% else %}Add{% endif %} authorized context
{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    {% if form.usage %}
      <li><a href="{% url 'cube:product_detail' form.usage.release.product.id %}">{{ form.usage.release.product.name }}</a></li>
      <li><a href="{% url 'cube:release_validation' form.usage.release.id %}">{{ form.usage.release.release_number }}</a></li>
      <li>Add authorized context</li>
    {% else %}
      <li><a href="{% url 'cube:license_detail' license.id %}">{{ license }}</a></li>
      <li>{% if object %}Edit{% else %}Add{% endif %} authorized context</li>
    {% endif %}
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    {% if object %}Edit{% else %}Add{% endif %} authorized context for <em>{{ license.long_name }}</em>
  </h1>
{% endblock %}

{% block content %}

  {% if license.policy.allowed_explanation %}
    <p>The usage of the license <b>{{ license }}</b> is restricted by the following policy: </p>
    <div class="content">
      {{ license.policy.allowed_explanation|linebreaks }}
    </div>
    <p>You can add a context that reflects this policy.</p>
  {% else %}
    <p><em>No explanation has been given for the restriction of this license.</em></p>
  {% endif %}

  {% include "cube/includes/default_form.html" %}

{% endblock %}



