<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Derogations{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:license_list' %}">Licenses</a></li>
    <li>Specific derogations</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium"><i class="fas fa-clipboard-check"></i></span>
    Specific derogations
  </h1>
{% endblock %}

{% block content %}
  <div id="content-main">
    <p>Derogations allow the use of a restricted licence in the context of a specific product or release.
      New derogations can only be created from the context of a release validation, but you can keep track of them here.</p>
    <div class="table-container">
      <table class="table is-striped is-hoverable ">
        <thead>
          <tr>
            <th>License</th>
            <th>Product / Release</th>
            <th>Component / Version</th>
            <th>Scope</th>
            <th>Linking</th>
            <th>Modification</th>
            <th>Exploitation</th>
            <th>Justification</th>
            <th>Updated</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for derogation in derogations %}
            <tr>
              <td> <a href="{% url 'cube:license_detail' derogation.license.id %}"><span class="tag {{ derogation.license|licenseAllowedCSS }}">
                {{ derogation.license.spdx_id }}
              </span></a></td>
              <td>{% if derogation.product %}<a href="{% url 'cube:product_detail' derogation.product.id %}">{{ derogation.product }}</a>{% endif %}{% if derogation.release %} <a href="{% url 'cube:release_summary' derogation.release.id %}">{{ derogation.release }}</a>{% endif %}</td>
              <td>{{ derogation.version|default:derogation.component|default:"<em>Any</em>" }}</td>
              <td>{{ derogation.scope|default:"<em>Any</em>" }}</td>
              <td>{{ derogation.get_linking_display|default:"<em>Any</em>" }}</td>
              <td>{{ derogation.get_modification_display|default:"<em>Any</em>" }}</td>
              <td>{{ derogation.get_exploitation_display|default:"<em>Any</em>" }}</td>
              <td>{{ derogation.justification|default:"<em>No justification</em>"|truncatewords:13 }}</td>
              <td>{{ derogation.updated }} ({{ derogation.author|default:"<em>author unknown</em>" }})</td>
              <td style="white-space: nowrap">
                {% if perms.cube.change_derogation %}
                  <a href="{% url "admin:cube_derogation_change" derogation.id %}"><span class="icon"><i class="fas fa-edit"></i></span></a>
                {% endif %}{% if perms.cube.change_derogation and perms.cube.delete_derogation %} | {% endif %}
                {% if perms.cube.delete_derogation %}
                  <a href="{% url "cube:derogation_delete" derogation.id %}"><span class="icon"><i class="fas fa-trash"></i></span></a>
                {% endif %}
              </td>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
