<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}Edit compliance action{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:generic_list' %}">Compliance actions</a></li>
    <li><a href="{% url "cube:generic_detail" generic.id %}">{{ generic.name }}</a></li>
    <li>Edit</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    Edit compliance action
  </h1>
{% endblock %}

{% block content %}
  {% include "cube/includes/default_form.html" %}
{% endblock %}
