<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Compliance action{{ generic.name }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:generic_list' %}">Compliance actions</a></li>
    <li>{{ generic.name|truncatechars:42 }}</li>
  </ul>
{% endblock %}

{% block actions %}
  {% if perms.cube.change_generic %}
    <a class="button" href="{% url "cube:generic_update" generic.id %}">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit this compliance action</span>
    </a>
  {% endif %}
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">{{ generic.name }}</p>
  </div>
{% endblock %}

{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-award"></i>
    </span>
    Compliance action
  </p>
{% endblock %}

{% block content %}
  {% if generic.reference_diff != 0 %}
    <div class="message is-info">
      <div class="message-body">
        <p>
          {% if generic.reference_diff == 1 %}
            Some values differ from reference data.
            <a href="{% url "cube:generic_diff" generic.id %}"><b>Show me differences</b></a>.
          {% elif generic.reference_diff == -1 %}
            This compliance action is absent from reference data.
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
  <section class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="fas fa-info-circle"></i></span>
        Features of this compliance action
      </p>
    </header>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <p><b>Core status:</b>
            {% if generic.in_core %}
              <span class="tag is-light is-medium">In core</span>
            {% else %}
              <span class="tag is-dark is-medium">Out of core</span>
            {% endif %}
          </p>

          <p><b>Number of linked obligations:</b> {{ generic.obligation_set.all|length }}</p>
        </div>

        <div class="column">
          <p><b>Metacategory:</b> {{ generic.get_metacategory_display }}</p>
          <p><b>Team:</b> {{ generic.team.name|default:"<em>No team</em>" }}</p>
          <p><b>Active/Passive:</b> {{ generic.get_passivity_display }}</p>
        </div>

        <div class="column">
          <p><b>Description:</b></p>
          {{ generic.description|linebreaks }}
        </div>
      </div>
    </div>
  </section>

  {% if perms.cube.view_license %}
    <section class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon">
            <i class="fas fa-balance-scale"></i>
          </span>
          Related licenses
        </p>
      </header>
      <div class="card-content">
        <p>
          {% for obligation in generic.obligation_set.all %}
            <a href="#{{ obligation.license.spdx_id }}">
              <span class="tag {{ obligation.license|licenseAllowedCSS }}">
                {{ obligation.license.spdx_id }}
              </span>
            </a>
          {% endfor %}
        </p>
      </div>
    </section>

    <h3 class="title is-3">Related individual obligations</h3>
    {% for obligation in generic.obligation_set.all %}
      <div class="card">
        <header class="card-header">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="card-header-title" id="{{ obligation.license.spdx_id }}">{{ obligation.name }}</p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p>
                  <a href="{% url "cube:license_detail" obligation.license.id %}">
                    <span class="tag {{ obligation.license|licenseAllowedCSS }}">
                      <i class="fas fa-balance-scale"> </i> . {{ obligation.license.spdx_id }}
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </header>
        <div class="card-content">
          <div class="content is-italic">
            {{ obligation.verbatim|linebreaks }}
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>You do not have the permission to view related licenses and obligations.</p>
  {% endif %}
{% endblock %}
