<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}Compliance action{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li>Compliance actions</li>
  </ul>
{% endblock %}

{% block actions %}
  <a class="button" href="{% url "cube:generic_create" %}">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Create a new compliance action</span>
  </a>
  {% if perms.cube.import_generic or permis.cube.export_generic %}
    <div class="dropdown is-hoverable is-right">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Import/export</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% if perms.cube.export_generic %}
            <a href="{% url 'cube:generic_export' %}" class="dropdown-item">
              <span class="icon is-small">
                <i class="fas fa-file-export"></i>
              </span>
              <span>Export all compliance actions as a single JSON file (for importing to another instance)</span>
            </a>
          {% endif %}
          {% if perms.cube.import_generic %}
            <form class="import_generics" id="import_generics" enctype="multipart/form-data" action="{% url 'cube:generic_list' %}" method="post">
              {% csrf_token %}
              <input class="is-hidden" name="file" type="file" hidden="hidden" accept=".json" onchange="document.getElementById('import_generics').submit();">
            </form>
            <a href="#" class="dropdown-item" onclick="document.getElementById('import_generics').elements['file'].click();">
              <span class="icon is-small">
                <i class="fas fa-file-import"></i>
              </span>
              <span>Import all compliance actions from a single JSON file (overwrite all compliance actions)</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium">
      <i class="fas fa-award"></i>
    </span>
    Compliance actions
  </h1>
{% endblock %}

{% block content %}
  <div id="content-main">
    <p>Each obligation extracted from the analysed licenses have been, whenever possible, attached to a compliance action (the obligations that have not been attached are listed on the <a href="{% url "cube:obligations_orphans" %}">Orphan Obligations page</a>). Designed to simplify the compliance process, these compliance actions represent the common denominator for these many specific obligations.</p>
    <p>Some of these compliance actions can be added to the <em>Core</em>, if your policy requires that these obligations be systematically met for each Open Source component, even if a component's licence does not explicitly require the obligation to be met. The other (non core) compliance actions will need to be monitored and may require additional work.
    </p>
    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-award"></i></span>
          {{ generics_incore|length }} compliance actions in the core
        </p>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">

            {% if generics_incore|length >= 1 %}
              <table class="table is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Lead</th>
                    <th>Nb of licenses</th>
                    <th>Active/Passive</th>
                    {% if is_shared_reference_loaded %}
                      <th>Differences with reference</th>
                    {% endif %}
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for generic in generics_incore %}
                    <tr>
                      <td><a href="{% url 'cube:generic_detail' generic.id %}">{{generic.name}}</a></td>
                      <td>{{generic.get_metacategory_display}}</td>
                      <td>{{generic.team.name}}</td>
                      <td>{{ generic.obligation_set.all|length }}</td>
                      <td>{{ generic.passivity}}</td>
                      {% if is_shared_reference_loaded %}
                        <td>
                          {% if not generic.reference_diff %}
                            No
                          {% elif generic.reference_diff == -1 %}
                            <i title="Absent in shared reference">Local</i>
                          {% else %}
                            <a href="{% url "cube:generic_diff" generic.id %}">See differences</a>
                          {% endif %}
                        </td>
                      {% endif %}
                      <td class="is-actions-cell">
                        <a href="{% url 'cube:generic_detail' generic.id %}">
                          <span class="icon"><i class="fas fa-eye"></i></span>
                        </a>
                        {% if perms.cube.change_generic %}
                          | <a href="{% url "cube:generic_update" generic.id %}" target="_blank" type="button">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}
              <div class="card has-table">
                <div class="card-content">
                  <section class="section">
                    <div class="content has-text-grey has-text-centered">
                      <p>
                        <span class="icon is-large"><i class="fas fa-surprise fa-2x"></i></span>
                      </p>
                      <p>Nothing's here…</p></div>
                  </section>
                </div>
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>



    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-award"></i></span>
          {{generics_outcore|length}} compliance actions out of the core
        </p>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            {% if generics_outcore|length >= 1 %}
              <table class="table is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Lead</th>
                    <th>Nb of licenses</th>
                    <th>Active/Passive</th>
                    {% if is_shared_reference_loaded %}
                      <th>Differences with reference</th>
                    {% endif %}
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for generic in generics_outcore %}
                    <tr>
                      <td><a href="{% url 'cube:generic_detail' generic.id %}">{{generic.name}}</a></td>
                      <td>{{generic.get_metacategory_display}}</td>
                      <td>{{generic.team.name}}</td>
                      <td>{{ generic.obligation_set.all|length }}</td>
                      <td>{{ generic.passivity }}</td>
                      {% if is_shared_reference_loaded %}
                        <td>
                          {% if not generic.reference_diff %}
                            No
                          {% elif generic.reference_diff == -1 %}
                            <i title="Absent in shared reference">Local</i>
                          {% else %}
                            <a href="{% url "cube:generic_diff" generic.id %}">See differences</a>
                          {% endif %}
                        </td>
                      {% endif %}
                      <td class="is-actions-cell">
                        <a href="{% url 'cube:generic_detail' generic.id %}">
                          <span class="icon"><i class="fas fa-eye"></i></span>
                        </a>
                        {% if perms.cube.change_generic %}
                          | <a href="{% url "cube:generic_update" generic.id %}" target="_blank" type="button">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}
              <div class="card has-table">
                <div class="card-content">
                  <section class="section">
                    <div class="content has-text-grey has-text-centered">
                      <p>
                        <span class="icon is-large"><i class="fas fa-surprise fa-2x"></i></span>
                      </p>
                      <p>Nothing's here…</p></div>
                  </section>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
