<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}
{% block title %}{% if object %}Edit{% else %}Add{% endif %} curation{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:licensecuration_list' %}">Curations</a></li>
    <li>{% if object %}{{ object.condition_display }}{% else %}Add{% endif %}</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium"><i class="fas fa-band-aid"></i></span>
    {% if object %}
      Edit license curation <em>{{ object.condition_display }}</em>
    {% else %}
      Add license curation
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  {% if request.resolver_match.url_name == 'release_andsvalidation_create' %}
    <div class="message is-info">
      <div class="message-body">
        Wrong license expression?
        <a href="{% url "cube:release_licensecuration_create" form.usage.pk %}">
          Correct original license expression instead</a>
      </div>
    </div>
  {% endif %}

  {% include "cube/includes/default_form.html" %}

{% endblock %}

