<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ license.long_name }} {% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:license_list' %}">Licenses</a></li>
    <li>{{ license.spdx_id }}</li>
  </ul>
{% endblock %}

{% block actions %}
  {% if perms.cube.change_license %}
    <a class="button" href="{% url "cube:license_update" license.id %}">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit or duplicate</span>
    </a>
    <a class="button" href="{% url "cube:license_update_policy" license.id %}">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit policy</span>
    </a>
  {% endif %}

  <div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Actions</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {% if perms.cube.export_license %}
          <a href="{% url "cube:license_export_single" license.id %}" class="dropdown-item">
            <span class="icon is-small">
              <i class="fas fa-download"></i>
            </span>
            <span>Export as JSON</span>
          </a>
        {% endif %}
        <a href="{% url "cube:license_print" license.id %}" class="dropdown-item">
          <span class="icon is-small">
            <i class="fas fa-print"></i>
          </span>
          <span>Print (ODT export)</span>
        </a>
        {% if perms.cube.change_license %}
          <a href="{% url "admin:cube_license_change" license.id %}" class="dropdown-item"  target="_blank">
            <span class="icon is-small">
              <i class="fas fa-edit"></i>
            </span>
            <span>Edit in admin</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">{{ license.long_name }}</p>
  </div>
{% endblock %}

{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-balance-scale"></i>
    </span>
    License
  </p>
{% endblock %}

{% block content %}

  {% if license.reference_diff != 0 %}
    <div class="message is-info">
      <div class="message-body">
        <p>
          {% if license.reference_diff == 1 %}
            Some values differ from reference data.
            <a href="{% url "cube:license_diff" license.id %}"><b>Show me differences</b></a>.
          {% elif license.reference_diff == -1 %}
            This license is absent from reference data.
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}

  <section class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon">
          <i class="fas fa-info-circle"></i>
        </span>
        Main characteristics of this license
      </p>
    </header>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <p><b>SPDX identifier:</b>
            {% if object.spdx_id|slice:":11" == 'LicenseRef-' %}
              <span> {{ object.spdx_id }} </span>
            {% else %}
              <a href="https://spdx.org/licenses/{{ object.spdx_id }}.html" target="_blank">
                <span> {{ object.spdx_id }}</span>
                <span class="icon is-small">
                  <i class="fas fa-link"></i>
                </span>
              </a>
            {% endif %}
            {% if object.url %}
              <a href="{{object.url}}" target="_blank">(Other URL)</a>
            {% endif %}
          </p>
          <p><b>Review status:</b>
            <span class="tag {{ license|licenseReviewCSS }}">
              {{ license.policy.get_status_display }}
            </span>
          </p>
          <p><b>FOSS policy status:</b>
            <span class="tag {{ license|licenseAllowedCSS }}">
              {{ license.policy.get_allowed_display }}
            </span>
          </p>
          <p><b>Explanation of FOSS policy:</b></p>
          {% if license.policy.allowed_explanation %}
            <div class="content">
              {{ license.policy.allowed_explanation|linebreaks }}
            </div>
          {% else %}
            <p>
              <em>No explanation has been given for this OSS policy</em> {% if perms.cube.change_licensepolicy %}- <a href="{% url "cube:license_update_policy" license.id %}">Edit</a>{% endif %}
            </p>
          {% endif %}
        </div>
        <div class="column">
          <p><b>Copyleft:</b>
            <span class="tag {{ license|licenseCopyleftCSS }}">
              {{ license.get_copyleft_display|default:"Unknown" }}
            </span>
          </p>
          <p><b>Actually FOSS:</b>
            <span class="tag {{ license|licenseFOSSCSS }}">
              {{ license.get_foss_display|default:"Unknown" }}
            </span>
          </p>
          <p><b>Patent Grant:</b>
            {{ license.patent_grant|yesno:"Yes,No,Maybe" }}
          </p>
          <p><b>Ethical clause:</b>
            {{ license.ethical_clause|yesno:"Yes,No,Maybe" }}
          </p>
          <p><b>Restricted to non-commercial use:</b>
            {{ license.non_commercial|yesno:"Yes,No,Maybe" }}
          </p>
        </div>

        <div class="column">
          <p><b>Choice of law:</b>
            {{ license.law_choice|default:"None" }}
          </p>
          <p><b>Choice of venue:</b>
            {{ license.venue_choice|default:"None" }}
          </p>
          <p><b>Disclaimer of Warranty:</b>
            {{ license.get_warranty_display|default:"Unknown" }}
          </p>
          <p><b>Limitation of Liability:</b>
            {{ license.get_liability_display|default:"Unknown" }}
          </p>

          <!-- Show optional comment -->
          {% if license.comment %}
            <p><b>Your comment :</b></p>
            <div class="content">
              {{ license.comment|linebreaks }}
            </div>
          {% else %}
            <p>Comment: <i>no comment</i></p>
          {% endif %}

          <p><strong>
            {% if license.is_core_covered %}
              <span class="icon"><i class="fas fa-check has-text-success"></i></span>
              This license is covered by the obligations in the core
            {% else %}
              <span class="icon has-text-grey"><i class="fas fa-times"></i></span>
              This license is NOT covered by the obligations in the core
            {% endif %}
          </strong></p>
        </div>
      </div>
    </div>
  </section>
  {% if license.verbatim %}
    <section class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Text of the license
        </p>
      </header>
      <div class="card-content">
        <details>
          <summary><strong>Verbatim text of the license:</strong></summary>
          <div class="is-italic">{{ license.verbatim|linebreaks }}</div>
        </details>

      </div>
    </section>
  {% endif %}
  {% if license.policy.allowed == "context" or license.context_derogations %}
    <section class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon">
            <i class="fas fa-exclamation-circle"></i>
          </span>
          Authorized contexts:
        </p>
      </header>

      <div class="card-content">
        {% if license.context_derogations %}
          <p>There is {{ license.context_derogations.count }} generic contexts authorized for this license (listed below) and {% if license.derogations.count > 0 %} <a href="{% url "admin:cube_derogation_changelist" %}?license__id__exact={{ license.id }}"> {{ license.product_derogations.count }} product-specific derogation{{ license.product_derogations.count|pluralize }}</a>.{% endif %}</p>
          <div class="table-container">
            <table>
              <tr>
                <th>Linking</th>
                <th>Modification</th>
                <th>Exploitation</th>
                <th>Product category</th>
                <th>Scope</th>
                <th>Justification</th>
                <th>Updated</th>
                <th>Action</th>
              </tr>
              {% for derogation in license.context_derogations %}
                <tr>
                  <td>{{ derogation.get_linking_display|default:"<em>Any</em>" }}</td>
                  <td>{{ derogation.get_modification_display|default:"<em>Any</em>" }}</td>
                  <td>{{ derogation.get_exploitation_display|default:"<em>Any</em>" }}</td>
                  <td>{{ derogation.category|default:"<em>Any</em>" }}</td>
                  <td>{{ derogation.scope|default:"<em>Any</em>" }}</td>
                  <td>
                    {{ derogation.justification|default:"<em>No justification</em>"|truncatewords:13 }}
                  </td>
                  <td>{{ derogation.updated }} ({{ derogation.author|default:"<em>author unknown</em>" }})</td>
                  <td style="white-space: nowrap">
                    <a href="{% url "cube:authorizedcontext_update" derogation.id %}?from={{ request.path|urlencode }}"><span class="icon"><i class="fas fa-edit"></i></span></a> |
                    <a href="{% url "admin:cube_derogation_delete" derogation.id %}"><span class="icon"><i class="fas fa-trash"></i></span></a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p><em>There are no generic contexts of usage authorized for this license.</em>{% if license.derogations.count > 0 %} There are <a href="{% url "admin:cube_derogation_changelist" %}?license__id__exact={{ license.id }}"> {{ license.product_derogations.count }} product-specific derogation{{ license.product_derogations.count|pluralize }}</a>.{% endif %}</p>
        {% endif %}
        <p><a href="{% url "cube:authorizedcontext_create" license.id %}" class="button">
          <span class="icon"><i class="fas fa-plus"></i></span>
          <span>Add an authorized context</span>
        </a></p>



      </div>
    </section>
  {% endif %}

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="title is-2">Obligations attached to this license</h2>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        {% if perms.cube.add_obligation %}
          <a href="{% url "cube:obligation_create" license.id %}" class="button">
            <span class="icon"><i class="fas fa-plus"></i></span><span>Attach new obligation</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if perms.cube.view_obligation %}
    {% regroup license.obligation_set.all by generic.get_metacategory_display as metacategory_list %}
    {% for metacategory in metacategory_list %}
      <h3>Obligations related to {{ metacategory.grouper|default:"Obligations specific to this license" }}</h3>
      {% for obligation in metacategory.list %}
        <div class="card">
          <header class="card-header level">
            <div class="card-header-title level-left">
              <p>{{ obligation.name }} {% if obligation.passivity %}({{ obligation.passivity }}){% endif %}</p>
            </div>
            <div class="level-right">
              <div class="buttons has-addons level-item">
                {% if perms.cube.change_obligation %}
                  <a href="{% url "cube:obligation_update" obligation.id %}" class="button">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                    <span>Edit obligation</span>
                  </a>
                {% endif %}
                {% if perms.cube.delete_obligation %}
                  <a href="{% url "cube:obligation_delete" obligation.id %}" class="button">
                    <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
                    <span>Delete obligation</span>
                  </a>
                {% endif %}
              </div>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              {% if obligation.generic %}
                <p>Related to compliance action: <a href="{% url 'cube:generic_detail' obligation.generic.id %}">{{obligation.generic}}</a> </p>
              {% endif %}
              {% if obligation.passivity == "Active" %}
                <p>Applies:</p>
                <ul><li>{{ obligation.get_trigger_mdf_display }}</li>
                  <li>{{ obligation.get_trigger_expl_display }}</li></ul>
              {% endif %}
              <br>
              <details>
                <summary><strong>Corresponding text in the license:</strong></summary>
                <div class="is-italic">{{ obligation.verbatim|linebreaks }}</div>
              </details>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% else %}
    <p>You do not have the permissions to view obligations attached to this license.</p>
  {% endif %}

{% endblock %}





