<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Licenses{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li>Licenses</li>
  </ul>
{% endblock %}
{% block actions %}
  {% if perms.cube.create_license %}
    <a href="{% url 'cube:license_create' %}" class="button">
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
      <span>Create new license</span>
    </a>
  {% endif %}
  {% if perms.cube.export_license or perms.cube.import_license %}
    <div class="dropdown is-hoverable is-right">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Import/export</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% if perms.cube.import_license %}
            <form class="import_licenses" id="import_licenses" enctype="multipart/form-data" action="{% url 'cube:license_import_all_json' %}" method="post">
              {% csrf_token %}
              <input class="is-hidden" name="file" type="file" hidden="hidden" accept=".json" onchange="document.getElementById('import_licenses').submit();">
            </form>
            <a href="#" class="dropdown-item" onclick="document.getElementById('import_licenses').elements['file'].click();">
              <span class="icon is-small">
                <i class="fas fa-file-import"></i>
              </span>
              <span>Import all licenses, policies and compliance actions from a single JSON file (overwrite all current licenses)</span>
            </a>
          {% endif %}
          {% if perms.cube.export_license %}
            <a href="{% url 'cube:license_export_all_json' %}" class="dropdown-item">
              <span class="icon is-small">
                <i class="fas fa-file-export"></i>
              </span>
              <span>Export all licenses, policies and compliance actions as a single JSON file (for importing to another instance)</span>
            </a>
            <a href="{%  url 'cube:license_export_all_archive' %}" class="dropdown-item">
              <span class="icon is-small">
                <i class="fas fa-file-archive"></i>
              </span>
              <span>Export all licenses and compliance actions as an archive (for contributing to hermine-data)</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}


{% endblock %}
{% block herozone %}
  <h1 class="title">
    <span class="icon is-medium">
      <i class="fas fa-balance-scale"></i>
    </span>
    Licenses
  </h1>
{% endblock %}
{% block content %}

  {% include "cube/includes/list_nav.html" %}

  <div class="card has-table">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="fas fa-balance-scale"></i></span>
        <span>{{ page_obj.paginator.count }} Licenses</span>
      </p>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">


          <table class="table is-striped is-hoverable">
            <thead>
              <tr>
                <th>SPDX ID</th>
                <th>License name</th>
                <th>FOSS policy status</th>
                <th># of obligations</th>
                <th>Review status</th>
                {% if is_shared_reference_loaded %}
                  <th>Differences with reference</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for license in licenses %}
                <tr>
                  <td><a href="{% url 'cube:license_detail' license.id %}" >{{ license.spdx_id }}</a></td>
                  <td>
                    <a href="{% url 'cube:license_detail' license.id %}" >{{ license.long_name }}</a></td>
                  <td>
                    <span class="tag {{ license | licenseAllowedCSS }}">
                      {{ license.policy.get_allowed_display }}
                    </span>
                  </td>
                  <td>{% if license.policy.allowed %}{{ license.obligation_count }} obligation{{ license.obligation_count|pluralize }}{% endif %}</td>
                  <td>{% if license.policy.status == 'Checked' %} <i class="fas fa-check-square"></i> {%else%} {{license.policy.status}}{% endif %}</td>
                  {% if is_shared_reference_loaded %}
                    <td>
                      {% if not license.reference_diff %}
                        No differences
                      {% elif license.reference_diff == -1 %}
                        <i title="Absent in shared reference">Local only</i>
                      {% else %}
                        <a href="{% url "cube:license_diff" license.id %}">See differences</a>
                      {% endif %}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

  {% include "cube/includes/list_nav.html" %}




{% endblock %}


