<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ license.long_name }}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:license_list' %}">Licenses</a></li>
    <li><a href="{% url "cube:license_detail" object.license.id %}">{{ object.license.spdx_id }}</a></li>
    <li>Edit policy</li>
  </ul>
{% endblock %}

{% block herozone %}
  <h1 class="title">Edit license internal policy</h1>
{% endblock %}

{% block content %}
  {% include "cube/includes/default_form.html" %}
{% endblock %}
