<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Create release{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_list' %}">Products</a></li>
    <li><a href="{% url 'cube:product_detail' product.id %}">{{ product }}</a></li>
    <li>Add release</li>
  </ul>
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">Create a new release for {{ product }}</p>
  </div>
{% endblock %}

{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-cubes"></i>
    </span>
    Product
  </p>
{% endblock %}

{% block content %}
  {% include "cube/includes/default_form.html" %}
{% endblock %}





