<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}

{% block title %}{{ release.product.name }} {{ release.release_number }}{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
    <li><a href="{% url "cube:release_summary" release.id %}">{{ release.release_number }}</a></li>
    <li><a href="{% url "cube:release_validation" release.id %}">Validation</a></li>
    <li>License choices</li>
  </ul>
{% endblock %}
{% block herozone %}
  <div class="hero-body">
    <p class="title">{{ release.product.name }} {{ release.release_number }}</p>
  </div>
{% endblock %}
{% block content %}

  <h5 class="title is-h5">License choices for this release</h5>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Scope</th>
          <th>Component</th>
          <th>License expression</th>
          <th>Choice for this release</th>
          <th>Rules</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in usages %}
          <tr>
            <td>{{ usage.scope }}</td>
            <td><a href="{% url "cube:component_detail" usage.version.component.id %}" target="_blank">{{ usage.version }}</a> </td>
            <td>{{usage.version.effective_license}}</td>
            <td>{{usage.license_expression }} </td>
            <td>
              <string>ID :</string> {{usage.license_choices.0.id}}<br>
              {% if usage.license_choices.0.explanation|length >= 1 %}
                {{usage.license_choices.0.explanation|truncatechars:40}}<br>
              {% endif %}
              {% if usage.license_choices|length == 1 %}
                {% if perms.cube.change_licensechoice %}
                  <a href="{% url "cube:licensechoice_update" usage.license_choices.0.pk %}?from={{ request.path|urlencode }}">Edit rule</a>
                {% endif %}
                {% if usage.license_choices.0.expression_out != usage.license_expression %}
                  <br><small>Choice does not match rule
                    {% if perms.cube.change_release %}
                      <form action="{% url "cube:release_update_license_choice" usage.pk %}" method="POST" class="form is-inline">
                        {% csrf_token %}
                        <button type="submit" class="button is-small is-inline" title="Apply new rule"><i class="fa fa-redo"></i></button></form>
                    {% endif %}</small>
                {% endif %}
              {% else %}
                {{ usage.license_choices|length }} rules apply. {% if perms.cube.change_licensechoice %}Edit rule
                  {% for choice in usage.license_choices %}
                    <a href="{% url "cube:licensechoice_update" choice.pk %}?from={{ request.path|urlencode }}">
                      {{ choice.pk }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
                  {% endfor %}{% endif %}
              {% endif %}
            </td>
            <td>{% if perms.cube.change_usage %}
              <a href="{% url "cube:usage_update" usage.id %}?from={{ request.path|urlencode }}"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}{% if perms.cube.delete_usage %}
              | <a href="{% url "cube:usage_delete" usage.id %}?from={{ request.path|urlencode }}"><span class="icon"><i class="fas fa-trash"></i></span></a>
            {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
