<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}{{ release.product.name }} {{release.release_number}}{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
    <li><a href="{% url 'cube:release_summary' release.id %}">{{release.release_number}}</a></li>
    <li><a href="{% url 'cube:release_obligations' release.id %}">Obligations</a></li>
  </ul>
{% endblock %}
{% block herozone %}
  <div class="hero-body">
    <p class="title">Release: {{release.release_number}} — {{generic.name}}</p>
  </div>
{% endblock %}"

{% block content %}

  <div id="content-main">
    <p>List of components for which the following compliance action has to be fulfilled</p>
    {{ generic.description|linebreaks }}

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Subproject:Scope</th>
            <th>Component (Version)</th>
            <th>Linking</th>
            <th>Exploitation</th>
            <th>Modified</th>
            <th>License of this version</th>
            <th>License of this usage</th>
            <th>Applicable Licenses</th>
            <th>Edit</th>

          </tr>
        </thead>
        <tbody>

          {% for usage in usages %}
            <tr>
              <td>{{ usage.project }}:{{ usage.scope }}</td>
              <td><a href="{% url 'cube:component_detail' usage.version.component.id %}"> {{ usage.version.component.name }}</a>({{ usage.version.version_number }})</td>
              <td>{{ usage.linking }}</td>
              <td>{{ usage.get_exploitation_display }}</td>
              <td>{{ usage.modified|yesno:"yes,no,maybe" }}</td>
              <td>{{ usage.version.effective_license}}</td>
              <td>{{ usage.license_expression }}</td>
              <td>{% for license_chosen in usage.licenses_chosen.all %}
                <a href="{% url 'cube:license_detail' license_chosen.id %}"><span class="tag {{ license_chosen|licenseAllowedCSS }}">
                  {{ license_chosen.spdx_id }}
                </span></a>
              {% endfor %}
              </td>
              <td><a href="{% url 'cube:usage_update' usage.id %}?from={{ request.path|urlencode }}"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}






