<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}

{% block title %}{{ release.product.name }} {{ release.release_number }}{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
    <li><a href="{% url "cube:release_summary" release.id %}">{{ release.release_number }}</a></li>
    <li><a href="{% url "cube:release_validation" release.id %}">Validation</a></li>
    <li>Expression validations</li>
  </ul>
{% endblock %}
{% block herozone %}
  <div class="hero-body">
    <p class="title">{{ release.product.name }} {{ release.release_number }}</p>
  </div>
{% endblock %}

{% block content %}

  {% if confirmed_usages %}
    <h5 class="title is-5">Confirmed expressions</h5>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Component</th>
            <th>Confirmed license expression</th>
            <th>Edit curation rule</th>
            <th>Edit version</th>
          </tr>
        </thead>
        <tbody>
          {% for usage in confirmed_usages %}
            <tr>
              <td><a href="{% url "cube:component_detail" usage.version.component.id %}" target="_blank">{{ usage.version }}</a> </td>
              <td>{{ usage.version.corrected_license }}</td>
              <td>
                {% if usage.version.curations|length == 1 %}
                  {% if perms.cube.change_licensecuration %}
                    <a href="{% url "cube:licensecuration_update"  usage.version.curations.0.pk %}?from={{ request.path|urlencode }}">Edit curation</a>
                  {% endif %}
                  {% if usage.version.curations.0.expression_out != usage.version.corrected_license %}
                    <br><small>Expression does not match curation
                      {% if perms.cube.change_version %}
                        <form action="{% url "cube:release_update_andsvalidation" usage.pk %}" method="POST" class="form is-inline">
                          {% csrf_token %}
                          <button type="submit" class="button is-small is-inline" title="Apply new rule"><i class="fa fa-redo"></i></button></form>
                      {% endif %}</small>
                  {% endif %}
                {% elif usage.version.curations|length > 1 %}
                  {{ usage.version.curations|length }} curations apply. {% if perms.cube.change_licensecuration %}Edit curations
                    {% for curation in usage.version.curations %}
                      <a href="{% url "cube:licensecuration_update" choice.pk %}?from={{ request.path|urlencode }}">
                        {{ curation.pk }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
                    {% endfor %}{% endif %}
                {% endif %}
              </td>
              <td>{% if perms.cube.change_version %}
                <a href="{% url "cube:version_update" usage.version.component.id usage.version.id %}?from={{ request.path|urlencode }}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a>
              {% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if corrected_usages %}
    <h5 class="title is-5">Corrected expressions</h5>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Component</th>
            <th>License expression</th>
            <th>Corrected expression</th>
            <th>Curation rule</th>
            <th>Edit version</th>
          </tr>
        </thead>
        <tbody>
          {% for usage in corrected_usages %}
            <tr>
              <td><a href="{% url "cube:component_detail" usage.version.component.id %}">{{ usage.version }}</a> </td>
              <td>{{ usage.version.spdx_valid_license_expr }} </td>
              <td>{{ usage.version.corrected_license}}</td>
              <td>
                {% if usage.version.curations|length == 1 %}
                  {% if perms.cube.change_licensecuration %}
                    <a href="{% url "cube:licensecuration_update"  usage.version.curations.0.pk %}?from={{ request.path|urlencode }}">Edit curation</a>
                  {% endif %}
                  {% if usage.version.curations.0.expression_out != usage.version.corrected_license %}
                    <br><small>Expression does not match curation
                      {% if perms.cube.change_version %}
                        <form action="{% url "cube:release_update_andsvalidation" usage.pk %}" method="POST" class="form is-inline">
                          {% csrf_token %}
                          <button type="submit" class="button is-small is-inline" title="Apply new rule"><i class="fa fa-redo"></i></button></form>
                      {% endif %}</small>
                  {% endif %}
                {% elif usage.version.curations|length > 1 %}
                  {{ usage.version.curations|length }} curations apply. {% if perms.cube.change_licensecuration %}Edit curations
                    {% for curation in usage.version.curations %}
                      <a href="{% url "cube:licensecuration_update" choice.pk %}?from={{ request.path|urlencode }}">
                        {{ curation.pk }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
                    {% endfor %}{% endif %}
                {% endif %}
              </td>
              <td>{% if perms.cube.change_version %}
                <a href="{% url "cube:version_update" usage.version.component.id usage.version.id %}?from={{ request.path|urlencode }}"><span class="icon"><i class="fas fa-edit"></i></span></a>
              {% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock %}
