<!--
SPDX-FileCopyrightText: 2024 Jules Jouvin <gitlab.com/JulesJVN>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}

{% block title %}404{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">404 - Page not found</p>
  </div>
{% endblock %}

{% block content %}
  The page you are looking for has been moved, removed, renamed or may never have existed.
{% endblock %}
